.Resume
{
    padding:30px;
    height:300vh !important;
}
h3{
    margin-top: 10px;
}
h4
{
    font-size:25px;
    color:black;
    text-transform: uppercase;
}

.head
{

    font-size:30px;
    width: 30vw;
    color:rgb(10, 233, 66);
    margin-left: 35px;
    box-shadow: 8px 2px 8px rgb(85, 83, 83);
}

.content-section
{
    display:flex;
    padding:5px;
    justify-content: center;
       
}
p{
    line-height: 0.9cm !important;
    text-align: left;
    font-size:25px;
    font-family: 'Courier New', Courier, monospace;
    animation: texts 0.5s move infinite;
    animation-fill-mode: forwards;
}

@keyframes texts
{
    0%
    {
        left:1%;
    }
    50%
    {
        left:50%;
    }
    100%
    {
        left:100%
    }
}
.eduDetails
{
    word-break: break-all;
}

.resume_title
{
    background-color: rgb(41, 35, 35);
    color: white;
    margin-bottom: 10px;
    margin-top:15px;
    border-radius: 8px;
    text-align: left;
    padding: 5%;
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: 20px;
}



@media(width<660px)
{
    .Resume
    {
         height:500vh;
    }
    .content-section
    {
    display:flex;
    flex-direction: column;
        
    }
     .eduDetails
    {
       word-break: break-all;
       margin:0;
    }
    .resume_title
    {
        /* font-family: Arial, Helvetica, sans-serif; */
        font-size: 16px;
        margin:0;
        width:60vw;
    }
.head
{
    font-size:25px;
    width: 50vw;
    margin-left: 35px;
    box-shadow: 10px 4px 8px rgb(85, 83, 83);
}

}
 @media(width:768px)
{
    .Resume
{
     height:500vh;
}
    .content-section
    {
        
    display:flex;
    flex-direction: column;
    padding:5px;
    justify-content: center;
    }
    .eduDetails
    {
       word-break: break-all;
    }
    .card{
        width: 500px;
    }
}
@media(width:1024px)
{
    .card{
        width:400px;
    }
    .eduDetails
    {
       word-break: break-all;
    }
}
@media(width:320px)
{
    .card{
        width: 250px !important;
     }
      
}

