@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Hind+Madurai:wght@500&family=Oswald:wght@200&family=Poppins:wght@300&family=Shippori+Antique+B1&display=swap');

body
{
  background-image: linear-gradient(to right top, #164239, #186958, #179279, #14be9a, #12ebbb);
  color:black;
  font-family:"Poppins",sans-serif;

}
*
{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
.container
{
  max-width:95%;
  margin:auto;

}

.d_flex
{
  display:flex;
  justify-content:space-between;
}
.f_flex
{
  display:flex;
}

.uppercase
{
  text-transform: uppercase;
}

button{
  border:none;
  outline:none;
  background-color: none;
}

.heading
{
  display:flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(121, 159, 241, 0.288); */
  text-align: center;
  /* border-radius: 50px; */
  margin-bottom: 20px;
  color:white !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  animation: glow 1s ease-in-out infinite alternate;
 }
 @keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #3200e6, 0 0 40px #2074e2, 0 0 50px #6840f8, 0 0 60px #6d4efa, 0 0 70px #8260e0;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #745ed8, 0 0 40px #341077, 0 0 50px #b114e0, 0 0 60px #970be9, 0 0 70px #5d17df, 0 0 80px #4110c9;
  }
}
@media(width<330px)
{
  .heading{
    background: none;
  }
}